{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Waiter Caller!</h1>
    <p class="lead">Welcome to ALX Restaurant!

        At ALX, we strive to provide you with an exceptional dining experience. Whether you're joining us for a casual meal with friends or a special celebration, our team is dedicated to serving you delicious food and creating memorable moments.
        
        Explore our menu featuring a variety of mouthwatering dishes crafted from fresh, locally-sourced ingredients. From appetizers to desserts, we have something to satisfy every palate.
        
        Sit back, relax, and enjoy your time at ALX. We look forward to serving you soon!
        
        - The ALX Restaurant Team
        .</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
</div>
{% endblock %}
